{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span8 offset2">
    <div class="centered">
      <h1 class="fascinate-font">Click Counter</h1>

      <p class="lead">Click this button to increase the counter by 1. then find out what number you touched.</p>
      <a href="{{url_for ('count')}}" class="btn-large btn-success">Whats my number?</a>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="span4 offset2">
    <h4>Click Counter</h4>
    <p>This template will help us count the number times this button on top is clicked.</p>
    <h4>index.html</h4>
    <p>I don't know where you can edit shit yet <strong>'application/templates/info/index.html'</strong></p>
  </div>
  <div class="span4">
    <h4>Try it</h4>
    <p>Try it Now.</p>
    <h4>Sticky footer</h4>
    <p>In the css folder I've added the code for a sticky footer!. Take a look on the <strong>custom.css</strong> file for details.</p>
  </div>
</div>


{% endblock %}
